#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 水平循環捲動動畫 */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  /* 40% {
    transform: translateX(-38%);
  }
  70% {
    transform: translateX(-38%);
  } */
  85% {
    transform: translateX(-38%);
  }
  95% {
    transform: translateX(-38%);
  }
}

.animate-scroll {
  animation: scroll 20s linear;
  animation-iteration-count: 3;
  animation-fill-mode: none;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* 隱藏滾動條 */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
